.cb-enable, .cb-disable, .cb-enable span, .cb-disable span {
  display: block;
  float: left;
}

.cb-enable span, .cb-disable span {
  line-height: 30px;
  display: block;
  background-repeat: no-repeat;
  font-weight: bold;
}

.cb-enable span {
  background-position: left -90px;
  padding: 0 10px;
}

.cb-disable span {
  background-position: right -180px;
  padding: 0 10px;
}

.cb-disable.selected {
  background-position: 0 -30px;
}

.cb-disable.selected span {
  background-position: right -210px;
  color: #fff;
}

.cb-enable.selected {
  background-position: 0 -60px;
}

.cb-enable.selected span {
  background-position: left -150px;
  color: #fff;
}

.checkbox-switch label {
  cursor: pointer;
}

.checkbox-switch input {
  display: none;
}

.input-checkbox-demo-url {
  left: 135px;
  position: relative !important;
  top: -42px;
  width: 30% !important;
  display: none;
}

.input-checkbox-purchase-url, .input-checkbox-price {
  left: 135px;
  position: relative !important;
  top: -22px;
  width: 30% !important;
  display: none;
}

.ot-metabox-wrapper .format-settings {
  padding: 0;
}

.short_length {
  width: 30% !important;
}

.format-setting .format-setting-inner {
  width: 38% !important;
}

.format-setting .description {
  width: 48% !important;
}

:-moz-placeholder {
  color: #A9A9A9 !important;
}

.format-setting .format-setting-inner.width100 {
  width: 100% !important;
}

/**
  * CSS FOR PAGE BUILDER
  */
.tzicon_font,
.tzicon_img{
    display: none;
}

/**
 * CSS ABOUT US FOR PAGE BUILDER
 */
#setting_nightclub_TzGlobalOption_pagination_home_page_data_input{
  display: none;
}
