body .ot-gallery-buttons{
    width: auto;
}
#setting_plazartthemefooter_image div.format-setting-inner {
    width: 100% !important;
}
#option-tree-settings-api > .ui-tabs{
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -ms-box-shadow: none !important;
    -o-box-shadow: none !important;
}
.mce-toolbar .mce-btn i{
    background-repeat: no-repeat;
    background-size: 18px 18px;
    text-shadow: none;
}
#page_meta_box{
    display: none;
}
body #setting_nightclub_404_page_content .format-setting .format-setting-inner{
    width: 100% !important;
}
body #setting_nightclub_copyright .format-setting .format-setting-inner{
    width: 100% !important;
}
body .format-setting .format-setting-inner{
    width: 50% !important;
}
body .format-setting.type-page-checkbox .format-setting-inner {
    width: 100% !important;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}
body .format-setting.type-page-checkbox .format-setting-inner p {
    width: 20% !important;
    float: none !important;
}
body #nightclub_copyright_toolbar3{
    display: none;
}
body #nightclub_404_page_content_toolbar3{
    display: none;
}
/*end custom textarea*/

body #setting_nightclub_TzFontDefault{
    display: none;
}
body #setting_nightclub_TzFontSquirrel{
    display: none;
}
body #setting_nightclub_TzFontFami{
    display: none;
}
body #setting_nightclub_TzFontFaminy{
    display: none;
}

/*header font*/
body #setting_nightclub_TzFontHeadDefault{
    display: none;
}
body #setting_nightclub_TzFontHeadSquirrel{
    display: none;
}
body #setting_nightclub_TzFontHeadGoodurl{
    display: none;
}
body #setting_nightclub_TzFontFaminyHead{
    display: none;
}


body #setting_nightclub_TzFontMenuDefault{
    display: none;
}
body #setting_nightclub_TzFontMenuSquirrel{
    display: none;
}
body #setting_nightclub_TzFontMenuGoodurl{
    display: none;
}
body #setting_nightclub_TzFontFaminyMenu{
    display: none;
}


/*custom font*/
body #setting_nightclub_TzFontCustomDefault{
    display: none;
}
body #setting_nightclub_TzFontCustomSquirrel{
    display: none;
}
body #setting_nightclub_TzFontCustomGoodurl{
    display: none;
}
body #setting_nightclub_TzFontFaminyCustom{
    display: none;
}
body #setting_nightclub_TZBackgroundColor{
    display: none;
}
/*style option*/
body #tab_TzFontMenu,
body #tab_TzFontCustom,
body #tab_TZBody,
body #tab_TzFontHeader,
body #tab_color_social_network,
body #tab_TZFamily {
    background: #EAEAEA;
    border: 0;
    display: none;
}
/*logo*/
body div#setting_nightclub_favicon{
    display: none;
}
/* css background option*/
body .background_pattern {
    width: 40px;
    height: 40px;
    border-radius: 0;
    padding: 2px;
}
body #setting_nightclub_background_pattern .format-setting .format-setting-inner{
    width: 100% !important;
}



/*style option*/
body #page-ot_theme_options{
    width: 80%;
}
body .wrap.settings-wrap .ui-tabs-nav{
    list-style: none outside none;
    margin: 0;
    padding: 0;
    width: 160px;
}
body #option-tree-sub-header{
background-color: #f1f1f1  !important;
}
body #option-tree-settings-api .ui-tabs{
    background: url("../images/ot-menu-bg2.png") repeat-y scroll 0 0 #f1f1f1 !important;
}

body .wrap.settings-wrap .ui-tabs-nav li.ui-state-active{
    border: none;
    background:  #ffffff !important;
    margin-right: -0px;
    border-radius: 0;
}
body .wrap.settings-wrap .ui-tabs-nav li.ui-state-active a{
    color: #797979;
}
body .wrap.settings-wrap .ui-tabs-nav li {
    border-bottom: 1px solid #D8D8D8;
    border-top: 1px solid #FFFFFF;
    color: #797979;
    display: block;
    font: bold 12px/18px sans-serif;
    padding: 7px 10px;
    text-decoration: none;
    width: 87%;
}
body .wrap.settings-wrap .ui-tabs-nav li a {
    padding: 1px 5px 1px 27px;
    font-weight: 600;
    color: #555555;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}
body #option-tree-header{
    border-radius: 2px 2px 0 0;
}
body .format-setting-label {
    border-bottom: 1px solid #f1f1f1;
    margin: 0 0 20px;
    padding: 0 0 5px;
    width: 100%;
}
body .format-setting-label h3 {
    margin: 0;
}
body .format-setting-wrap{
    border-bottom: 0;
    padding-bottom: 0;
}
body input.option-tree-ui-upload-input, input.option-tree-ui-input{
    padding: 6px;
}
body .format-settings{
    padding: 0 0 20px;
}

body #option-tree-settings-api .postbox{
    background: none repeat scroll 0 0 #FFFFFF;
    border: medium none;
    margin: 0;
    padding: 20px;
}
body #wpbody-content .metabox-holder{
    padding-top: 0;
}
body #option-tree-settings-api .ui-tabs{
    padding-bottom: 0;
}
body #option-tree-header #option-tree-version span{
    display: none;
}
body .option-tree-ui-buttons{
    background: #f1f1f1;
    margin-top: 5px;
}
body .format-setting-inner input,
body .format-setting-inner textarea,
body .format-setting-inner select{
    background: #f1f1f1;
}
body .format-setting-inner input:hover,
body .format-setting-inner input:focus,
body .format-setting-inner textarea:hover,
body .format-setting-inner textarea:focus
{
    background: #ffffff;
}
body .select-wrapper{
    background-color: #f1f1f1;
}
body .select-wrapper:hover,
body .select-wrapper:focus{
    background-color: #ffffff;
}
#tab_TzSyle,
#tab_social_network {
    position: relative;
}
#tab_TzSyle:after,
#tab_social_network:after {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 7px solid #000;
    content: "";
    position: absolute;
    right: 7px;
    top: 14px;
}
#setting_nightclub_header_option .option-tree-ui-radio-images{
    float: none !important;
}
/* logo icon */
body #tab_social_network a {
    background: url("../images/social_links_icon.png") no-repeat left center;
}
body #tab_color_social_network a {
    background: url("../images/color-palette.png") no-repeat 90px center;
    padding: 0 40px;
}
body #tab_TZBackground a{
    background: url("../images/icon-background.png") no-repeat left center;
}
body #tab_TZBlog a{
    background: url("../images/icon-docs.png") no-repeat left center;
}
body #tab_TzGlobalOption a{
    background: url("../images/global.png") no-repeat left center;
}
body #tab_google_analytics a{
    background: url("../images/google_al.png") no-repeat left center;
}
body #tab_TzSyle a{
    background: url("../images/font-style.png") no-repeat left center;
}
body #tab_copyright a{
    background: url("../images/copyright.png") no-repeat left center;
}
body #tab_404 a{
    background: url("../images/_error.png") no-repeat left center;
}
body #tab_logo a{
    background: url("../images/logo_favicon.png") no-repeat left center;
}
body #tab_menu a{
    background: url("../images/menu-icon.png") no-repeat left center;
}
body #tab_TzCustomCss a{
    background: url("../images/css.png") no-repeat left center;
}
#tab_TZThemecolor a{
    background: url("../images/color.png") no-repeat left center ;
    background-size: 16px 16px;
}
#tab_TZEventsCalendar a {
    background: url("../images/event-calendar.png") no-repeat left center ;
}
body #tab_footeroption a{
    background: url("../images/icon-footer.png") no-repeat left center;
}
body #tab_logo a{
    background: url("../images/logo_favicon.png") no-repeat left center;
}
body #tab_header a{
    background: url("../images/header.png") no-repeat left center;
}
body #tab_TZSingle a{
    background: url("../images/normal-check.jpg") no-repeat left center;
}
body #tab_TZShop a{
    background: url("../images/shop_cart.png") no-repeat left center;
}
body #tab_TZShopCat a{
    background: url("../images/shop_category.png") no-repeat left center;
}
body #tab_music_press a{
    background: url("../images/music-player.png") no-repeat left center;
}
body #tab_TZShop1,
body #tab_TZShop2,
body #tab_TZShop3{
    display: none;
    border: 0;
}
#tab_TZShop{
    position: relative;
}
#tab_TZShop:after {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 7px solid #000;
    content: "";
    position: absolute;
    right: 7px;
    top: 14px;
}
#setting_TZShop{
    background: url("../images/shop-page.jpg") no-repeat scroll 0 115px rgba(0, 0, 0, 0);
    min-height: 543px;
}

#setting_TZShop1{
    background-image: url("../images/shop-page-section1.jpg");
    background-position: 0 125px;
    background-repeat: no-repeat;
    min-height: 460px;
}
#setting_TZShop2{
    background-image: url("../images/shop-page-section2.jpg");
    background-position: 0 125px;
    background-repeat: no-repeat;
    min-height: 460px;
}
#setting_TZShop3{
    background-image: url("../images/shop-page-section3.jpg");
    background-position: 0 125px;
    background-repeat: no-repeat;
    min-height: 460px;
}
body .tzvc_icon{
    background-image: url("../images/tz.png");
}
body .icon_coming_soon{
    background-image: url("../images/coming-soon.png");
}
body .tz_vc_icon_menu{
    background-image: url("../images/menu.png");
}
body .tz_vc_icon_slider_blog{
    background-image: url("../images/slider-blog.png");
}
body .tz_icon_table {
    background-image: url("../images/calendar.png");
}
body .tz_vc_icon_slider_images {
    background-image: url("../images/slider-images.png");
}
body .tz_vc_icon_slider_images_item {
    background-image: url("../images/slider-images-item.png");
}
body .tz_vc_icon_title {
    background-image: url("../images/text-height.png");
}
body .tz_vc_icon_video_blog_slider {
    background-image: url("../images/video-player-blog.png");
}
body .tz_vc_icon_services {
    background-image: url("../images/services.png");
}
body .tz_vc_icon_services_item {
    background-image: url("../images/services_item.png");
}
body .tz_vc_icon_event {
    background-image: url("../images/events.png");
}
body .tz_vc_icon_blog_carousel {
    background-image: url("../images/slider-carousel.png");
}
body .tz_vc_icon_gallery {
    background-image: url("../images/vc-gallery.png");
}
body .tz_vc_icon_info_hour {
    background-image: url("../images/contact-form-info.png");
}
body .tz_vc_icon_info_hour_item {
    background-image: url("../images/contact-form-info-item.png");
}
.option-tree-save-layout{
    display: none !important;
}
/*=======================================
page style
========*/
#portfolio_meta_box .ot-metabox-wrapper .format-settings{
    margin-bottom: 0 !important;
}
#portfolio_meta_box .format-setting-label label{
    padding: 0 0 15px !important;
}

/*=======================================
Metabox
========*/
#setting_nightclub_portfolio_floating,
#setting_nightclub_portfolio_slideshows_style,
#setting_nightclub_portfolio_slideshows,
#setting_nightclub_portfolio_video_mp4,
#setting_nightclub_portfolio_video_ogv,
#setting_nightclub_portfolio_video_webm,
#setting_nightclub_portfolio_gallery,
#setting_nightclub_portfolio_soundCloud_id,
#setting_nightclub_portfolio_Quote_content,
#setting_nightclub_portfolio_Quote_ds{
    display: none;
}


#setting_nightclub_TZThemecolor,
#setting_nightclub_TZThemecustom{
    display: none;
}
#setting_nightclub_bk_image_page_home .option-tree-ui-media-wrap img {
    width: 200px;
}

/* font family */
.tz-text-font-family-wrap .format-setting-wrap {
    padding: 0;
}
.tz-text-font-family-wrap .format-setting-label {
    background-color: #dce7f7;
    margin: 0;
    padding: 15px 10px;
    box-shadow: -3px 0 0 0 #b9cbe4;
}
.tz-text-font-family-wrap .format-setting-label h3.label {
    margin: 0;
    padding: 0 !important;
    text-transform: uppercase;
    color: #516676 !important;
}
.tz-check-font-weight-wrap .format-setting .description {
    float: none;
    width: auto !important;
    font-size: 11px;
    line-height: 14px;
    margin-bottom: 15px;
    color: #858585;
}
.tz-check-font-weight-wrap .format-setting .description a {
    color: #1abc9c;
}
.tz-check-font-weight-wrap .format-setting .format-setting-inner {
    float: none;
    width: 100% !important;
}
.tz-check-font-weight-wrap .format-setting .format-setting-inner:after {
    display: table;
    clear: both;
    content: '';
}
.tz-check-font-weight-wrap .format-setting .format-setting-inner p {
    width: 180px !important;
}
.TzFontStyle_display .format-setting-label,
.TzFontStyle_display .format-setting .description {
    display: none;
}
/* End font family */