nav nav.menu__breadcrumbs
{
    display:none;
}
@media (device-width:1024px)
{
    div.menu__wrap
    {
        padding-top:14px;
            padding-bottom: 40px;
    }
    
    div.menu__wrap ul
    {
            margin-left: 217px;
    }
    
}